body {
  background: #0a5b90;
  font-family: Kanit, sans-serif;
}
img {
  display: block;
}

#nav {
  margin-top: 20px;
}

button {
  border-radius: 10px;
  background: #fc3;
  color: #06c;
  font-size: 14px;
  padding: 10px;
  border: none;
  font-weight: bold;
}

button:focus {
  outline: none;
  background-color: white;
}
